.ico { background-image: url(~@/assets/sprite.png) }
.ico-logo1 { width: 200px; height: 200px; background-position: 0px 0px; }
.ico-logo2 { width: 200px; height: 200px; background-position: -200px 0px; }